* {
    box-sizing: border-box;
}

.head-banner {
    
}

h1 {
    color: crimson;
    font-size: 60px;
    font-weight: normal;
    text-decoration: underline;
    text-transform: uppercase;
    border: 3px solid grey;
    text-align: right;
    background: lightgrey;
    font-style: italic;
}

p {
    font-style: italic;
}

.upper {
    color: seagreen;
    font-weight: bold;
}

.upper:hover {
    text-decoration: underline;
}

.lower {
    color: purple;
    border: 1px solid yellow;
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: space-between; /* horizontal */
    align-items: center; /* vertical */
}

.box {
    height: 100px;
    width: 100px;
    margin: 10px;
}

.tall-box {
    height: 200px;
    width: 100px;
}

.wide-box {
    height: 100px;
    width: 200px;
}

.small-box {
    height: 50px;
    width: 50px;
}

.blue {
    background-color: blue;
    border: 4px solid darkblue;
}

.darkblue {
    background-color: darkblue;
    border: 4px solid blue;
}

.green {
    background-color: green;
}

.grey {
    background-color: grey;
}

.red {
    background-color: red;
}

.border {
    background-color: blue;
    padding: 5px;
    height: 100px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
