* {
    box-sizing: border-box;
}

.head-banner {
    
}

h1 {
    color: crimson;
    font-size: 60px;
    font-weight: normal;
    text-decoration: underline;
    text-transform: uppercase;
    border: 3px solid grey;
    text-align: right;
    background: lightgrey;
    font-style: italic;
}

p {
    font-style: italic;
}

.upper {
    color: seagreen;
    font-weight: bold;
}

.upper:hover {
    text-decoration: underline;
}

.lower {
    color: purple;
    border: 1px solid yellow;
    text-align: center;
}

.box {
    height: 100px;
    width: 100px;
    float: left;
}

.blue {
    background-color: blue;
}

.darkblue {
    background-color: darkblue;
}

.border {
    background-color: blue;
    padding: 5px;
    height: 100px
}
